<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Información sobre nuestro consultorio médico, filosofía, metodología y proyecto de trabajo.">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6470796ace.js" crossorigin="anonymous"></script>
    <title>¿Quiénes Somos?</title>
</head>

<body>
    <header>
        <nav class="centered-menu">
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#ubicacion">Ubicación</a></li>
                <li><a href="/quienes-somos.html">¿Quiénes Somos?</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <section id="quienes-somos">
            <h1>¿Quiénes Somos?</h1>
            <p>Somos una empresa especializada en servicios asistenciales de salud, en lo que respecta a la niñez en
                nuestros policonsultorios, ofreciendo la máxima calidad de profesionales. Enfocándonos en el tratamiento
                holístico de cada individuo, instrumento que, a lo largo de los años, nos fortaleció como empresa.</p>
        </section>
    
        <section id="filosofia">
            <h2>Nuestra Filosofía</h2>
            <p>Creada y puesta en marcha por médicos/as, licenciados/as y personal de soporte operativo, con más de 20
                años de experiencia en el sistema de salud, SHD&INFITE SRL logró posicionarse como una de las empresas
                más prestigiosas a nivel nacional y provincial.
                Nuestro principal objetivo es brindar servicios integrales de salud en el marco de las normativas y acuerdos
                vigentes nacionales e internacionales, garantizando los derechos en la atención y prevención.
                Consideramos de suma importancia la evaluación de su conveniencia, y por eso realizamos propuestas,
                diseños y estrategias para dar soluciones acordes al requerimiento en cada situación.</p>
        </section>
    
        <section id="metodologia">
            <h2>Nuestra Metodología y Proyecto de Trabajo</h2>
            <p>La organización y la logística de los servicios incluyen la capacitación periódica de los profesionales
                afectados al plan terapéutico y también del personal técnico y administrativo de apoyo.
                La tecnología informática tiene un formato propio que incluye la historia clínica, registros y
                estadísticas para seguir la evolución y estado de cada individuo, no solo desde su estado de salud, sino
                también desde su situación socioambiental.
                La estructura organizacional nos permite ejecutar, de manera eficaz y eficiente, los procesos necesarios para
                cumplir con las funciones de la producción social de la salud, de provisión de servicios y de gestión
                institucional.</p>
        </section>
    </main>
    

    <footer>
        <div class="footer-left">
            <div class="contact-info">
                <p><strong>Consultorio Lanús:</strong> 29 de Septiembre 1804, esquina Sitio de Montevideo, Lanús Este</p>
                <p><strong>Consultorio San Antonio de Padua:</strong> Directorio 305, esquina Chubut, San Antonio de Padua</p>
                <p>Teléfono: +123456789</p>
                <p>Email: info@example.com</p>
                <div class="social-icons">
                    <a href="https://www.instagram.com/tu_cuenta" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/tu_cuenta" target="_blank"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <div class="opening-hours">
                <p>Horario de Atención:</p>
                <p>Lunes - Viernes: 9:00 AM - 7:00 PM</p>
                <p>Sábado: 10:00 AM - 4:00 PM</p>
                <p>Domingo: Cerrado</p>
            </div>
        </div>
        <div class="whatsapp-icon">
            <a href="https://wa.me/541135724543" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </footer>
</body>

</html>