body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFF;
    color: #1F4E79;
    font-size: 16px; /* Tamaño base de la fuente */
}

header {
    background-color: #3A8BC7;
    color: #FFFF;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.centered-menu {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #03508b;
}

.container {
    max-width: 1200px; /* Ajusta el ancho a las necesidades */
    margin: 0 auto; /* Centra el contenedor */
}

main {
    text-align: center;
}

.inicio-section {
    background-image: url('/assets/img/header-background-mobile.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0; /* Ajusta el espacio interno según sea necesario */
    margin-top: 65px;
}

.inicio-section .container {
    max-width: 600px; /* Ajusta el ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

.inicio-section h1 {
    font-size: 36px; /* Tamaño del título */
    margin-bottom: 20px; /* Espacio inferior */
}

.inicio-section p {
    font-size: 20px; /* Tamaño del texto */
    margin-bottom: 40px; /* Espacio inferior */
}

section {
    padding: 20px;
}

#fotos {
    width: 95%; /* Ancho del section al 95% de la pantalla */
    margin: 0 auto; /* Margen automático en la parte superior e inferior, y centrado horizontalmente */
}

.slider-frame {
    width: 100%; /* Hace que el carrusel ocupe todo el ancho del contenedor */
    max-height: 400px; /* Limita la altura del carrusel */
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 300%; /* Ajusta la anchura total del carrusel */
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 33.33%; /* Ajusta el ancho de cada imagen para que haya tres en una fila */
    list-style: none;
}

.slider-frame img {
    width: 100%; /* Ajusta el tamaño de la imagen para que se ajuste al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que las imágenes cubran el contenedor sin deformarse */
}

@keyframes slide {
    0%, 100% { margin-left: 0; }
    25% { margin-left: 0; }
    50% { margin-left: -100%; }
    75% { margin-left: -200%; }
}

#botones {
    text-align: center;
    padding: 20px;
}

.botones-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre los botones */
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #0056b3;
}

#servicios {
    background-color: #c9f8e8;
}

.servicios-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye las columnas uniformemente */
}

.servicio {
    flex-basis: 30%; /* Ancho de cada columna */
    margin-bottom: 20px; /* Espacio entre filas */
    padding: 10px;
    border: 1px solid #1F4E79;
    text-align: center;
}

.servicio img {
    max-width: 100%;
    height: auto;
}

.descripcion {
    display: none;
}

.servicio:hover .descripcion {
    display: block;
}

.ubicacion-container {
    display: flex;
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan en pantallas pequeñas */
    align-items: center;
}

.mapa {
    flex: 1;
    margin-right: 20px;
}

.direccion {
    flex: 1;
}

footer {
    background-color: #3A8BC7;
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap; /* Asegura que los elementos se ajusten en pantallas pequeñas */
    justify-content: space-between;
    text-align: center;
}

.footer-left,
.footer-right {
    flex-basis: 50%;
}

.contact-info {
    padding-left: 20px;
}

.social-icons i {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.opening-hours {
    padding-right: 20px;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25d366;
    transition: transform 0.3s;
    text-decoration: none;
}

.whatsapp-icon a:hover {
    transform: scale(1.1);
}

.whatsapp-icon i {
    color: #fff;
    font-size: 48px;
}

/* Media Queries */

/* Para dispositivos móviles (600px o menos) */
@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    nav ul li:last-child {
        margin-top: 0;
    }
    nav ul li a {
        display: block;
    }
    .inicio-section h1 {
        font-size: 28px;
    }
    .inicio-section p {
        font-size: 16px;
    }
    .servicio {
        flex-basis: 100%; /* Columna completa en pantallas pequeñas */
    }
    .ubicacion-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .whatsapp-icon {
        bottom: 10px;
        right: 10px;
    }
}

/* Para tabletas (entre 600px y 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .inicio-section h1 {
        font-size: 30px;
    }
    .inicio-section p {
        font-size: 18px;
    }
    .servicio {
        flex-basis: 45%;
    }
}

/* Para pantallas grandes (más de 1200px) */
@media only screen and (min-width: 1201px) {
    .inicio-section h1 {
        font-size: 48px;
    }
    .inicio-section p {
        font-size: 24px;
    }
}
